form {
    padding: 25px;
}

    form label, form input {
        display: block;
    }

    form label {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0;
    }

    form input[type=text] {
        font-size: 18px;
        width: 100%;
        border: 0;
        border-radius: 5px;
        padding: 10px;
    }