.showRisk {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    width: 30%;
    display: inline-block;
    position: fixed;
    top: 175px;
    right: 10%;
    text-align: center;
}

    .showRisk h2 {
        margin: 0;
    }

    .showRisk h3 {
        font-size: 30px;
    }

    .showRisk h4 span {
        display: block;
        font-size: 20px;
        text-transform: capitalize;
        padding-top: 10px;
    }

.red {
    color: red;
}

.yellow {
    color: orange;
}

.black {
    color: black;
}

.lowOpacity {
    opacity: 0.5;
}